<div>

  <h4 class="text-center">Add a Todo</h4>
  <form (ngSubmit)="onSubmit($event)">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="emailHelp"
        [(ngModel)]="title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="desc"
        name="desc"
      />
    </div>

    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>
</div>
